<header class="top-header">
  <div class="top-header__user-bar">
    <div class="container">
      <div class="user-bar__row">
        <div class="user-bar">
          <a class="user-bar__link user-bar__login" routerLink="/login"
            >Sign in</a
          >
          <a class="user-bar__link register" routerLink="/register">Sign up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="top-header__nav-bar">
    <div class="container">
      <nav>
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" routerLink="">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" routerLink="/catalog">Catalog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="top-header__search-bar">
    <div class="container">
      <form class="search-bar__form">
        <input
          class="search-bar__input-field"
          type="text"
          placeholder="More than 50000 goods"
        />
      </form>
    </div>
  </div>
</header>
