<section class="side-menu">
  <nav class="side-menu__category-list">
    <a routerLink="/catalog/woman/jacket" class="side-menu__category category">
      <span class="category__name">Jackets</span>
      <span class="category__product-count">(800)</span>
    </a>
    <a
      routerLink="/catalog/woman/sweatshirts"
      class="side-menu__category category"
    >
      <span class="category__name">Sweatshirts</span>
      <span class="category__product-count">(800)</span>
    </a>
    <a
      routerLink="/catalog/woman/t-shirts"
      class="side-menu__category category"
    >
      <span class="category__name">T-shirts</span>
      <span class="category__product-count">(800)</span>
    </a>
    <a
      routerLink="/catalog/woman/trousers"
      class="side-menu__category category"
    >
      <span class="category__name">Trousers</span>
      <span class="category__product-count">(800)</span>
    </a>
    <a
      routerLink="/catalog/woman/leggings"
      class="side-menu__category category"
    >
      <span class="category__name">Leggings</span>
      <span class="category__product-count">(800)</span>
    </a>
    <a routerLink="/catalog/woman/hat" class="side-menu__category category">
      <span class="category__name">Hat</span>
      <span class="category__product-count">(800)</span>
    </a>
  </nav>
</section>
